{% extends 'base.html'%}

{% block title %}Login{% endblock %}
{% block content %}
<div class="login-form">
    
<form class="login-container"method="POST"`class="login-form">
    <h1>Login</h1>
    {% csrf_token %}
    <br>
    
    <div class="input-container">
    <label for="{{ form.username.id_for_label }}">Username:</label><br/>
    {{form.username}}
    {{form.username.errors}}
        <br>
    <br>
    <label for="{{ form.password.id_for_label }}">Password:</label><br/>
    {{ form.password }}
    {{ form.password.errors }}
</div>

    <button class="btn-submit" type="submit">Sumbit</button>
                 

</form>
</div>

{% endblock %}