{% extends 'base.html'%}
{% block title %}Register for Online Qari{% endblock %}
{% block content %}
<main>
    <section class="registration-form">
        <div class="form-container">
            <div class="header-register">
                <h1>Register for Online Qari</h1>


            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input">
                    <label for="text">Full Name:</label>
                    <br>

                    <input type="text" name="first_name"  placeholder="Full Name">
                    <br><br><label for="text">Choose a Plan:</label>
                    <br>

                    <select name="dropdown" class="select" required>

                        <option value="Pakistan and India">For Pakistan and India</option>

                      <option value="Other Countries">For Other Countries</option>
                        <option value="Home Tution">For Home Tution</option>
                        <option selected>Choose a Plan</option>
                    </select>

                    <br><br><label for="text">Age of Student:</label>
                    <br>
                    <input type="number" name="students" min="5" placeholder="min: 5">

                    <br><br><label for="email">Email Address:</label>
                    <br>
                    <input type="email" name="from_email" placeholder="Email eg: example@example.com"  >

                    <br><br><label for="text">Whatsapp Number:</label>
                    <br>
                    <input type="text" placeholder="Whatsapp Number eg: +92 12345678" name="tel" id="">
                    <br>

                    <br><label for="text">Name of your country:</label>
                    <br>
                    <input type="text" placeholder="Name of your Country" name="country" id="">
                

                    <button class='btn-submit-register' type="submit">Sumbit</button>
                    <br>
                </div>
            </form>
            </div>
    </section>

    

</main>

<section class="whatsapp-register">
    <div class="whatsapp-container">
    <div class="whatsapp-header">
        <h1>Want to register through Whatsapp or Call?</h1>
    </div>
    <div class="whatsapp-content">
        <p>If you wish to register through Whatsapp or Call, contact us at: +92 3462332261, and start your journey with Online Qari. Do note that your information is completely safe with us no matter what method you choose to register.</p>
    </div>
</div>
</section>
{% endblock %}