{% extends 'base.html'%}
{% block title %}Online Qari - Home{% endblock %}
{% block content %}
<main>
    <section class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1>Start Learning Quran with Online Qari today!</h1>
                <p>Online Qari provides one of the best online Quran services in the world. Register Now to start your education in the holy field of Islam.</p>
            </div>
            
        </div>
        <div class="buttons">
            <a href="/register/contact"><button class="btn-register">Register</button></a>
            <a href="/pricingandpayment"><button class="btn-pricing">Pricing</button></a>
        </div>
    </section>
    <section  id="services" class="services" onmouseover="services()" onmouseout="servicesOut()">
        <div class="service-text">
            <h1>Services we offer</h1>

        </div>
        <ol class="services-list">
            <li>Nazra</li>
            <li>Kalma</li>
            <li>Namaz (Salah)</li>
            <li>Beautiful Supplications (Du'a) </li>
            <li><a href="#tution" class="plans">Home Tution</a></li>
        </ol>
        <div class="btn">
            <a href="/register/contact"><button class="btn-register">Register</button></a>
            <a href="/pricingandpayment"><button class="btn-pricing">Pricing</button></a>
        </div>
    </section>
</main>



<section class="home-tution" id="tution">
    <div class="tution-header">
        <h1>Online Qari offers home tution!</h1>
    </div>
    <div class="tution-content">
        <p>Unlike other online quran services, Online Qari provides home tution. These tutions are currently limited to Karachi, Pakistan but are expected to expand over other cities in the future. To register for home tution, simply select the For Home Tution option in the Choose a Plan menu on the Registration <a class="plans" href="/register.html">Page</a>. The home tution prices may differ from our online services . For info related to pricing, view our Pricing <a class="plans" href="/pricing_info.html">Plans</a></p>
    </div>
</section>


<section class="payment">
   <div class="payment-header">
       <h1>Payment Methods</h1>
   </div>

   <div class="payment-content">
       <p>Online Qari users in Pakistan can use EasyPaisa to make their payments. Online Qari users outside of Pakistan may use Bank Transfer to make their payments.</p>
   </div>
</section>


{% endblock %}

