{% extends 'base.html' %}
{% block title %}Pricing Plans{% endblock%}
{% block content %}
<main>
    <section class="pricing">
        <div class="containers">
            
            <h4>For Pakistan and India</h4>
            <h1>$15</h1>
            
        </div>

        <div class="containers2">
            
            <h4>For Other Countries</h4>
            <h1>$30</h1>
            
        </div>

        <div class="containers3">
            
            <h4>For Home Tution</h4>
            <h1>$35
            </h1>
            
        </div>

        

    </section>

    <br> 
    <br>

</main>


{% endblock %}